.cards-container {
  padding: 2rem;
  width: 100vw;
  display: flex;
  gap: 5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  border: 1px solid black;
}
footer {
  background-color: #f8f9fa;
}
.links{
  margin-right: auto;
  margin-left: 15px;
  margin-bottom: 10px;
}
.links a{
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  display: block;
}
.logos{
  margin-right: 15px;
}
.links p ,.logos p{
  font-size: 25px;
  color: rgb(200, 33, 200);
}
.info p {
  text-align: center;
  font-family: "Nunito", sans-serif;
  padding: 5px;
  color: rgb(200, 33, 200);
}

.logos a {
  height: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  background: rgb(24, 25, 26);
  color: white;
  border-radius: 50%;
  line-height: 47px;
}
.bottom{
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}
.links a:hover{
text-decoration: underline;
}