body {
  background-color: rgb(14, 14, 87);
  color: white;
}
.Header {
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(8, 8, 49);
  font-family: Arial, Helvetica, sans-serif;
}

.cards-container {
  padding: 2rem;
  width: 100vw;
  display: flex;
  gap: 5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  background-color: rgb(47, 47, 207);
  border: 1px solid yellow;
}
.card-img-top {
  height: 280px;
}

.card-text {
  color: gray;
}

.logo {
  height: 60px;
  width: 60px;
  margin-right: 10px;
}

footer {
  background-color: #f8f9fa;
}
.links {
  margin-right: auto;
  margin-left: 15px;
  margin-bottom: 10px;
}
.links a {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  display: block;
}
.logos {
  margin-right: 15px;
}
.links p,
.logos p {
  font-size: 25px;
  color: rgb(200, 33, 200);
}
.info p {
  text-align: center;
  font-family: "Nunito", sans-serif;
  padding: 5px;
  color: rgb(200, 33, 200);
}

.logos a {
  height: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  background: rgb(24, 25, 26);
  color: white;
  border-radius: 50%;
  line-height: 47px;
}
.bottom {
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}
.links a:hover {
  text-decoration: underline;
}
